header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ==================== CTA ==================== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ==================== CTA SOCIALS ==================== */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/* ==================== ME ==================== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 10rem;
    height: 18rem;
    position: absolute;
    left: calc(50% - 5rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0 2px 2px;
}

/* ==================== SCROLL-DOWN ==================== */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5.6rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 1.4rem;
}

/*================ MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen and (max-width: 1024px){
  header {
   height: 53vh;
 }
 
}
/*================ MEDIA QUERIES(SMALL DEVICES)=================*/
@media screen and (max-width: 600px) {
    header {
     height: 100vh;
     width: 65vh;
     margin-bottom: 1rem;
   }
    .header_socials, .scroll_down {
     display: inline-flex;
     flex-direction: row;
     transform: none;
     bottom: 2rem;
     gap: 0.6rem;
  }

  .scroll_down {
      padding-right: 2rem;
  }

  header {
    padding-top: 2rem;
  }
  /* ==================== ME ==================== */
    .me {
        margin-top: 3rem;
    }
}